// assets/css/custom.scss

.mi-card {
  background: #1a1a1a;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  padding: 1rem;
  margin: 2rem 0;
  color: #eee;
}

.badge {
  display: inline-block;
  padding: 0.3em 0.6em;
  border-radius: 0.4em;
  font-size: 0.9em;
  font-weight: bold;
  background: #ff9800;
  color: #000;
}

.color-text{
  color: blue; 

}
